<html>

<head>
	<meta charset="utf-8">
	<title>Portfolio</title>

	<link rel="stylesheet" href="layout.css">
	<link rel="stylesheet" href="magnific-popup.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>

<body>
	<div id="vue" class="vue">
		<div class="main-fade">
			<div class="grid">
				<div class="top">
					<div style="font-size: 20px;">Land of Chris</div>
					<hr>
					<div><button v-for="(value, name) in page.obj" class="button" v-on:click="page.set(name)">{{value.name}}</button></div>
				</div>

				<div class="page">
					<div v-for="item in page.obj[page.name].textArr">
						<div v-html="item"></div><br>
					</div>

					<div v-show="page.name=='apps'">
							<a href="app/patterns/index.html" target="_blank">Patterns</a> - a script drawing different patterns on canvas.<br><br>
							<a href="app/weightcalc/index.html" target="_blank">Weight calculator</a> - calculate weight of creatures based on height, uses a more accurate power of 2.5.<br><br>
							<a href="app/worldmapper/index.html" target="_blank">World map</a> - a tile-based map editor with multiple layers of depth.<br><br>
							<a href="app/darkworld/index.html" target="_blank">Dark World</a> - an idle game project with vue.<br><br>
							<a href="https://github.com/CrisThur/CrisThur.github.io/tree/master/scripts" target="_blank">Simple scripts</a> - a python script which generates some simple math equations, and some scripts testing ruby and cpp</a><br><br>
					</div>

					<div v-show="page.name=='graphic'">
						<div v-for="(value, name) in page.img">
							{{ name }} <br>
							<a class="test-popup-link" v-for="name2 in value" :href="'graphic/'+name+'/'+name2+'.png'" target="_blank"><img :src="'graphic/'+name+'/'+name2+'.jpg'" alt="continent map" style="margin: 5px;"></a>
							<br>
						</div>
					</div>

					<div v-show="page.name=='links'">
						<a href="https://www.youtube.com/channel/UCmWpIboB0bnVYYcFZzYNORg/featured" target="_blank">Youtube channel (gaming)</a>
					</div>
				</div>

				<div class="bottom">Created by Krzysztof Zajaczkowski 2019. Personal portfolio. Contact at <a href="mailto:christoph.bunny@gmail.com">christoph.bunny@gmail.com</a> </div>
			</div>
		</div>
	</div>

		<div id="myModal" class="modal">
			<span class="close"></span>
			<img class="modal-content" id="img01">
			<div id="caption"></div>
		</div>

	<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
	<script src="vue.min.js"></script>
	<script src="magnific.min.js"></script>
	<script src="main.js"></script>

</body>
</html>
