/* @font-face {
    font-family: 'bitstream_vera_sans_monoroman';
    src: url('VeraMono-webfont.eot');
    src: url('VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
         url('VeraMono-webfont.woff') format('woff'),
         url('VeraMono-webfont.ttf') format('truetype'),
         url('VeraMono-webfont.svg#bitstream_vera_sans_monoroman') format('svg');
    font-weight: normal;
    font-style: normal;
} */


body {
	margin:10;
  font-size: 14;
	font-family: 'bitstream_vera_sans_monoroman', Segoe UI, Arial;
	color: #ffffff;
  background-color: #000000;
  overflow-y:scroll;
}

ul {list-style-type: none;}

a:link { text-decoration: none; color: cyan; }
a:visited { text-decoration: none; color: cyan; }
a:hover { text-decoration: none; color: white; }
a:active { text-decoration: none; color: cyan; }


.div {
  text-align: left;
}

.text-area { background-color: #000000; color: #ffffff; }

.button {
  width: 120px; height: 20px; text-align: left;
  background-color: #000000; color: white; border-radius: 4px;
  border: 1px solid #00ddff;
}
.button:focus { box-shadow: 0 0px 16px 0 rgba(0,200,255,0.8), 0 0px 20px 0 rgba(0,200,255,0.6); }
.button:disabled { color: #00ddff; }
.button:hover { background-color: #004488; color: white; }
.button[disabled]:hover { background-color: #000000; color: #00ddff; }
